{% extends 'catalog/base.html' %}

{% block content %}
    <div class="container">
        <h1>Статьи</h1>

        <div class="row">
            {% for post in post_list %}
                {% include 'posts/includes/card.html' with post=post %}
            {% endfor %}
        </div>

        <div class="row">
            <div class="col text-center">
                <a href="{% url 'posts:post_form' %}" class="btn btn-warning w-25">Новая статья</a>
            </div>
        </div>
    </div>

{% endblock content %}
